body {
    font-family: 'Oswald', sans-serif;
    margin: auto;
}

h1 {
	text-align: center;
    font-size: 90px;
    padding-top: 30px;
    padding-bottom: 30px;

}

p {
	text-align: center;
}

#fb_baby {
  display: none;
}

#not_fb_baby {
  display: none;
}

.info-container{
		text-align: center;
	    margin: auto;
}

#loader {
  display: none;
  text-align: center;
  margin: auto;
  width: 40px;
}

.column{
	 margin: auto;

	text-align: center;
	padding-bottom: 30px;

}

label{
	font-size: 30px;

}
.date{
		width: 30%;
	margin: auto;
}
.vertical-center {
  top: 37%;
  left:50%;
  display: block;
}

.find {
	margin: auto;
}
#footer {

}

.baby{
	width:100%;

}
.twocol{
	margin: auto;
	text-align: center;
	width: 40%;
	display: inline-block;
	height: 40%
}
#fb_baby{
	text-align: center;
}
