body {
    font-family: 'Oswald', sans-serif;
     margin: auto;

}

h1 {
	text-align: center;
    font-size: 90px;
    padding-top: 30px;
    padding-bottom: 30px;

}

p {
		text-align: center;
}

.info-container{

		text-align: center;
	    margin: auto;

}
.column{
	width: 45%;
	display: inline-block;
}

label{
	font-size: 20px;

}

