body {
    font-family: 'Oswald', sans-serif;
    margin: auto;
}

h1 {
	text-align: center;
    font-size: 90px;
    padding-top: 30px;
    padding-bottom: 30px;

}

p {
	text-align: center;
}

.info-container{
		text-align: center;
	    margin: auto;
}

#loader {
  display: none;
  text-align: center;
  margin: auto;
  width: 40px;
}

.column{
	width: 30%;
	 margin: auto;

	text-align: center;
	padding-bottom: 30px;

}

label{
	font-size: 20px;

}

.vertical-center {
   position: absolute;
  top: 37%;
  left:50%;
  transform: translate(-50%,-50%);
}

.find {
	margin: auto;
}
#footer {
  position: fixed;
  bottom: 5px;
  left: 44%;
  text-align: center;
}
